.entire-navbar{
  display: flex;
  justify-content: center;
}

.navigation {
    width: 100%;
    max-width: 900px;
    top: 0;
    display: inline-block;
    background-color: white;
    padding: 10px 0;
    box-shadow: 4px 4px 4px 0px pink;
    border-radius: 20px;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  
  .links {
    display: flex;
    align-items: center;
  }
  
  .link {
    margin-left: 12px;
    font-size: 14px;
    text-decoration: none;
    color: black;
  }
  
  .link:hover {
    color: blue;
  }
  
  .profile-link {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  .profile-text:hover {
    color: blue;
  }
  
  .profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .profile-text {
    margin-right: 5px;
    font-size: 14px;
    color: black;
  }
  