.savedQuizCard-container{
    display: flex;
    padding: 10px;
    width:60%;
    justify-content: space-evenly;
    background-color: rgb(230, 239, 250);
}

.deleteQuiz-btn{
    background-color: #FAA0A0
}