.schedulepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    /* height: 200%; */
}
  
#add-btn{
  height: 3%;
  width: 3%;
  margin-left: 1%;
  cursor: pointer;
}