.customQuizpage-container{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    margin-top: 5vh;
    width: 90%;
}

.customQuizpage{
    min-height: 92vh;
}
.left-padding{
    width: 20vw;
}

.createQuizTitle{
    display: flex;
    justify-content: center;
    padding-bottom: 2vh;
}

.question-container{
    margin-left: 5%;
}

.buttons-container{
    margin-left: 5%;
}