.QuizSideBar-container{
    background-color:rgb(182, 255, 255);
    width: 14%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}