.quiz-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 500px;
}

.quiz-search h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.quiz-search form {
  margin-bottom: 10px;
}

.quiz-search input {
  padding: 5px;
  margin-right: 10px;
}

.quiz-search button {
  background-color: lightblue;
  color: black;
  border: none;
  border-radius:5px;
  padding: 5px 10px;
  cursor: pointer;
}

.quiz-list {
  width: 400px
}

.quiz-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.quiz-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid lightgrey;
  margin-bottom: 10px;
  border-radius: 5px;
}

.quiz-list li a {
  text-decoration: none;
  color: blue;
}

.quiz-list li button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
