.QuizQuestions-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;

  }
  

  .quiz-content {
    display: flex;
    flex-direction: column;
  }
  